---
import Layout from '../layouts/Layout.astro';
import Opiniones from '../components/Opiniones.astro';
import Carruselhome from '../components/Carruselhome.astro';

---

<Layout>
	<main>
		<article>
			<div class="contenido-articulo">
				<img src="/logotipo-color.svg" alt="Logo Aventis Color" class="w-100! img-shadow-lg mb-0! mx-auto!">
				<h2 class="text-4xl! font-bold pt-2! mb-2! text-center!">Agencia de Viajes de Lujo en España</h2>
			</div>
			<Carruselhome/>
			<div class="contenido-articulo">
				<p>Somos una agencia especializada en diseñar viajes de lujo a medida en España, entendiendo el lujo como la creación de momentos únicos y significativos más allá de la opulencia. Su equipo de expertos con profundo conocimiento del país se encarga de personalizar cada detalle, desde alojamientos exclusivos hasta actividades, para garantizar una experiencia inolvidable que refleje los intereses del cliente y explore la rica historia, cultura y paisajes de España.</p>
			</div>
			<div class="flex! space-x-4! justify-center items-center mb-6!">
				<div><button class="w-50 h-auto"><a href="/tienda">Regístrate</a></button></div>
				<div><button class="w-50 h-auto"><a href="/tienda">Entrar</a></button></div>
			</div>
			
		</article>

		<article>
			<div class=" justify-center items-center text-center">
				<h2 class="text-4xl! font-bold pt-8!">Nuestra agencia está a tu servicio</h2>
			</div>
			<div class="grid-articulos">
				<div class="contenido-articulo">
						<img src="bitacora-index.jpg" alt="Bitacora">
						<h2>Bitácora</h2>
						<p>Nuestra revista digital te recomienda los diferentes viajes dentro de nuestra península, con un estilo de elegancia y exclusividad.</p>
						<button><a href= "/blog">Leer Más »</a></button>
				</div>

				<div class="contenido-articulo">
						<img src="/moda-index.jpg" alt="Eventos">
						<h2>Eventos</h2>
						<p>Te conseguimos entradas y accesos exclusivos a los eventos que se celebran en el país.</p>
						<button><a href="#">Leer Más »</a></button>
				</div>
					
				<div class="contenido-articulo">
						<img src="/hotel-index.jpg" alt="Hotel">
						<h2>Hoteles</h2>
						<p>Nos encargamos de conseguir alojamiento para ti o tu familia en los más prestigiosos hoteles, así como en villas privadas y apartamentos turísticos.</p>
						<button><a href="#">Leer Más »</a></button>
				</div>

				<div class="contenido-articulo">
					<img src="/accesorio-index.jpg" alt="Tendencias">
					<h2>Tendencias</h2>
					<p>Para una experiencia en la que la atención a los detalles marca una diferencia con tener una experiencia de lujo, te recomendamos la ultimas tendencias a la hora de viajar.</p>
					<button><a href="#">Leer Más »</a></button>
				</div>
			</div>			
		</article>

		<Opiniones/>

		<article>
			<div class="relative h-120 pt-10! px-12! pb-6! bg-[url(/hotel.jpg)] bg-cover bg-center flex flex-col justify-center items-center text-center text-white overflow-hidden before:content-[''] before:absolute before:inset-0 before:bg-black/20 before:z-0">
                    <h2 class="relative text-8xl! font-extrabold tracking-wider text-shadow-lg/30 text-white!">Contáctanos</h2>
			</div>
			<div class="contenido-articulo">
				<p>Aventis se distingue por su servicio personalizado y atención al detalle. Desde el momento en que contactas con la agencia, un equipo de expertos se dedica a entender tus necesidades y deseos, creando un viaje que se adapte perfectamente a ti. Al contratarnos ofrecemos una serie de ventajas que pueden transformar un viaje ordinario en una experiencia extraordinaria. Para considerar nuestros servicios puedes consultar nuestros artículos detallados.</p>
				<button><a href="/contacto">Queremos conocerte »</a></button>
			</div>
		</article>
	</main>

</Layout>
