---
// Array de imágenes para el carrusel
const images = [
    '/yate-marina.jpg',
    '/carrusel-camino.jpg',
    '/a-coruna.jpg',
    '/benidorm.jpg',
    '/carrusel-room.jpg',
    '/carrusel-copa.jpg',
    
    // Agrega más imágenes aquí
];
---

<div class="carousel-container h-100 relative overflow-hidden">
    {images.map((image, index) => (
        <div 
            class={`carousel-slide absolute inset-0 pt-10! px-12! pb-6! bg-cover bg-center flex flex-col justify-center items-center text-center text-white transition-opacity duration-1000 ${index === 0 ? 'opacity-100' : 'opacity-0'}`}
            style={`background-image: url(${image})`}
            data-index={index}
        >
            <h4 class="text-3xl font-extrabold tracking-wider text-shadow-lg/20 text-white">Experiencias Exclusivas</h4>
            <h4 class="text-3xl font-extrabold tracking-wider text-shadow-lg/20 text-white">Viajes Inolvidables</h4>
        </div>
    ))}
</div>

<script>
    const slides = document.querySelectorAll('.carousel-slide');
    let currentSlide = 0;

    function nextSlide() {
        // Ocultar slide actual
        slides[currentSlide].classList.remove('opacity-100');
        slides[currentSlide].classList.add('opacity-0');
        
        // Avanzar al siguiente slide
        currentSlide = (currentSlide + 1) % slides.length;
        
        // Mostrar nuevo slide
        slides[currentSlide].classList.remove('opacity-0');
        slides[currentSlide].classList.add('opacity-100');
    }

    // Cambiar de imagen cada 5 segundos (5000ms)
    setInterval(nextSlide, 5000);
</script>

<style>
    .carousel-container {
        position: relative;
    }

    .carousel-slide {
        background-size: cover;
        background-position: center;
    }

    .carousel-slide::after {
        content: '';
        position: absolute;
        inset: 0;
        background: #0000001a;
        pointer-events: none;
    }
</style>