<body class="font-montserrat">
    <footer class="bg-linear-to-r from-[#003a4b] to-[#005f66] text-white! p-8! md:p-12!">
        
        <div class="flex flex-col md:grid md:grid-cols-3 lg:grid-cols-3 gap-8 md:gap-10 max-w-7xl mx-auto">
            
            <div class="col-span-1 md:col-span-2 lg:col-span-1 flex flex-col space-y-4">
                <a href="/" class="brand-container flex items-center mb-4">
                    <img src="/logotipo-blanco.svg" alt="Logo Aventis" class="w-60! h-auto! pb-6!">
                    <h2 class="invisible absolute">Aventis Viajes</h2>
                </a> 

                <p class="text-sm italic text-white!">Agencia de viajes especializada en ofrecer experiencias personalizadas para un público exclusivo.</p>
                
                <p class="text-m text-white!">Copyright &copy; John Vicent</p>
                
                <nav class="list-footer flex flex-col space-y-1">
                    
                </nav>
            </div>
            
            <div class="col-span-1 flex flex-col space-y-4">
                <h3 class="text-3xl! text-white! font-ebgaramond font-semibold border-b border-gray-500 pb-2">Más Información</h3>
                <nav class="list-footer flex flex-col space-y-2">
                    <a href="/contacto" target="_blank" class="text-white! text-m! transition duration-200 hover:text-[#B78B1E]!">Contacto</a>
                    <a href="/" target="_blank" class="text-white! text-m! transition duration-200 hover:text-[#B78B1E]!">Blog</a>
                    <a href="/tienda" target="_blank" class="text-white! text-m! transition duration-200 hover:text-[#B78B1E]!">Nuestros Accesorios</a>
                    <a href="/" target="_blank" class="text-white! text-m! transition duration-200 hover:text-[#B78B1E]!">Viajes</a>
                    <a href="/" target="_blank" class="text-white! text-m! transition duration-200 hover:text-[#B78B1E]!">Eventos</a>
                    <a href="https://johnvicent.es/politica-de-cookies/" target="_blank" class="text-m transition duration-200 text-white! hover:text-[#B78B1E]!">Política de Cookies</a>
                    <a href="https://johnvicent.es/privacy-policy/" target="_blank" class="text-m transition duration-200 text-white! hover:text-[#B78B1E]!">Política de Privacidad</a>
                </nav>
            </div>
            
            <div class="col-span-1 flex flex-col space-y-4">
                <h3 class="text-3xl! text-white! font-ebgaramond font-semibold border-b border-gray-500 pb-2">Dirección y Contacto</h3>
                <p class="text-white! text-m!">Plaza Europa 1</p>
                <p class="text-white! text-m!">50003 Zaragoza</p>
                <p class="text-white! text-m!">Tel: <a href="tel:+34123456789" class="text-white! text-m! transition duration-200 hover:text-[#B78B1E]!">+34 123 456 789</a></p>
                <p class="text-white! text-m!">Email: <a href="mailto:info@aventis.es" class="text-white! text-m! transition duration-200 hover:text-[#B78B1E]!">info@aventis.es</a></p>
                
                <nav>
                    <div class="flex space-x-4! pt-2!">
                        <a href="https://es.linkedin.com/" target="_blank" class="transition duration-200 hover:opacity-75">
                            <img src="/icon-linkedin.svg" alt="Linkedin" class="w-8! h-auto!">
                        </a>
                        <a href="https://empresas.infojobs.net/" target="_blank" class="transition duration-200 hover:opacity-75">
                            <img src="/icon-github.svg" alt="Github" class="w-8! h-auto!">
                        </a>
                        <a href="https://johnvicent.es/" target="_blank" class="transition duration-200 hover:opacity-75">
                            <img src="/icon-web.svg" alt="Portfolio" class="w-8! h-auto!">
                        </a>
                    </div>
                </nav>
            </div>
            
        </div>
    </footer>
</body>

<style>
    /* 1. Variables y Reset Básico */
    :root {
        --bg-footer: #003a4b; /* Un poco más opaco para legibilidad */
        --text-color: #e7e7e7;
        --accent-color: #B78B1E;
        --hover-bg: #ffffff1a;
        --header-height: 80px;
    }
    
</style>